<!DOCTYPE html>
<html>
<head> 


<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section class="content">
    	<div class="row">
        	<section class="col-lg-12">
        		<form class="form-horizontal" name="form">
          			<div class="modal-body">
          				<div class="box-header subheading">
                        	<h4 class="box-title" style="font-size: inherit;">Mapping found for {{currentInvalidatedObject.localBodyName}} ({{currentInvalidatedObject.localBodyCode}})</h4>
                        </div>
		             	<table style="width: 100%;" class="data_grid">
							<thead style="background-color: #f1f1f1">
								<tr>
									<th>Sr.No</th>
									<th>Local Body Name Mapped With</th>
									<th>Village Name</th>
									<th>Village Code</th>
									<th>Coverage Type</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="localBody  in exceptionMessage">
								<td style="padding: 10px 10px 10px 10px;border: 1px solid #ccc;line-height: 22px;width: 10px;" align="center">{{$index+1}}</td>
								<td style="padding: 10px 10px 10px 10px;border: 1px solid #ccc;line-height: 22px;width: 10px;" align="center">{{localBody[3]}}</td>
								<td style="padding: 10px 10px 10px 10px;border: 1px solid #ccc;line-height: 22px;width: 10px;" align="center">{{localBody[6]}}</td>
								<td style="padding: 10px 10px 10px 10px;border: 1px solid #ccc;line-height: 22px;width: 10px;" align="center">{{localBody[0]}}</td>
								<td style="padding: 10px 10px 10px 10px;border: 1px solid #ccc;line-height: 22px;width: 10px;" align="center">{{localBody[1]}}</td>
								</tr>
							</tbody>
						
						</table>
          			</div>
          			
          			
          			<div class="modal-footer">
          				<button type="button" class="btn btn-danger " name="Cancel"  id="btnCancel" ng-click="cancel()"><i class="fa fa-times-circle"></i> Close</button>
          			</div>
          		</form>
          </section>
          </div>
          </section>
</body>
</html>