/* CSS Document */
/*<-------START GENERAL------ */
* {
	margin: 0px;
	padding: 0px;
}

body {
	margin: 0px;
	padding: 0px;
	background: #FBFCEC;
	font: .75em Arial, Helvetica, sans-serif;
	color: #3A3A3A;
}

h1 {
	font: bold 1.5em "Trebuchet MS";
	color: #4E3700;
	margin: 0px;
	padding: 0px
}

h2 {
	font: bold 1.3em "Trebuchet MS";
	color: #4E3700;
}

h3 {
	font: bold 1.2em Arial, Helvetica, sans-serif;
	color: #4E3700;
}

i {
	font-size: 13px;
	font-weight: bold;
}

img {
	border: 0px;
}

p {
	font: normal Arial, Helvetica, sans-serif;
	color: #3A3A3A;
	text-align: justify
}
/*<-------END GENERAL------ */

/*Start table property*/
table {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

table.tblbgclr {
	background: inherit
}

th,td {
	margin: 0px;
	padding: 1px 3px 1px 3px;
	border: 0px;
}

tr.tblRowTitle {
	background: #E4E4E4;
	height: 17px;
	font-weight: bold
}

tr.tbl_nml_title {
	height: 15px;
	font-weight: bold
}

tr.tblRowA {
	background: #f7f7f7;
}

tr.tblRowB {
	background: #fff;
}

td.tblclear {
	padding: 0px
}

td.tblrtbrdr {
	border-right: solid 1px #011939;
	background: #CFE3FE
}

label {
	font: bold 1em Arial, Helvetica, sans-serif;
}
/*End table property*/

/*<-------START DIV ID------ */
#maincontainer {
	width: 97%;
	height: 100%;
	margin: 0px auto;
} /* main div - First div in any html */
#headerwrap {
	width: 100%;
	height: 100%;
} /* div for  head section  */
#topnav_home {
	height: 25px;
	font: 11px Arial, Helvetica, sans-serif;
	color: #3A3A3A;
}
/*#topnav{height:20px; font:11px Arial, Helvetica, sans-serif; color:#fff; border-left:solid 1px #011939; border-right:solid 1px #011939; padding-top:2px; padding-bottom:2px}*/
#topnav {
	height: 20px;
	font: 11px Arial, Helvetica, sans-serif;
	color: #fff;
	border-left: solid 1px #011939;
	border-right: solid 1px #011939;
	padding-top: 2px;
	padding-bottom: 2px;
	background: #0066A4;
} /* top navigation */
#header {
	background: url(../themes/blue/header_bg.jpg) bottom left repeat-x;
	height: 116px;
	position: relative
} /* to show header background img */
#logoleft {
	background: url(../themes/blue/gvt_logo.png) no-repeat top left;
	float: left;
	width: 500px;
	height: 60px;
	font: bold 2em "Trebuchet MS";
	color: #014E94;
	padding-top: 30px;
	padding-left: 95px;
	position: absolute
} /* Left logo */
#logoright {
	background: url(../themes/blue/rt_logo.png) no-repeat top right;
	float: right;
	width: 500px;
	height: 90px;
	position: relative
} /* right logo  */
#mainnav {
	font: bold 1em Arial, Helvetica, sans-serif;
	color: #FFF;
	padding-top: 2px;
	padding-left: 2px;
	text-align: left
} /* horizondal menu on top - below logo */
#mainnav {
	font: bold 1em Arial, Helvetica, sans-serif;
	color: #FFF;
	padding-top: 2px;
	padding-left: 2px;
} /* horizondal menu on top - below logo */
#mainnav a {
	color: #FFF;
	text-decoration: none;
	border: 1px solid #011939;
	padding: 1px 7px 1px 7px;
	background: url(../themes/blue/btnbg.jpg) repeat-x
}

#loginnav {
	height: 21px;
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #fff;
	padding-top: 1px;
	border-left: solid 1px #011939;
	border-right: solid 1px #011939;
	padding-top: .15em
} /* login pannel */
/*#loginnav{ background:#0066A4; height:21px; font:normal 12px Arial, Helvetica, sans-serif; color:#fff; padding-top:1px; border-left:solid 1px #011939; border-right:solid 1px #011939; padding-top:.15em}*/
#loginnav a {
	color: #fff;
	text-decoration: none
}

#content {
	background: #FFFFFF;
	height: 100%;
	border-left: solid 1px #011939;
	border-right: solid 1px #011939
} /* For Body Part*/
#breadcrumbnav {
	width: auto;
	height: 19px;
	font: normal 1em Arial, Helvetica, sans-serif;
	color: #2E2101;
	padding-top: 4px;
	padding-left: 2px;
	background: url(../themes/blue/brdcrbnav_bg.jpg) repeat-x #FBFBF9;
	border: solid 1px #011939
} /* For Bread Crumb*/
#breadcrumbnav a {
	color: #2E2101;
	text-decoration: none
}

#breadcrumbnav a:hover {
	color: #2E2101;
	text-decoration: underline
}

#breadcrumbnav span {
	font: bold;
	color: #810800
}

#leftpnl {
	height: 100%;
}

#newsupdate {
	width: 225px;
	float: left;
	background: url(../themes/blue/news_pnl.jpg) top repeat-x #0084C2;
	margin: 25px 3px 10px 3px;
	border: solid 1px #011939;
	font: 1em Arial;
	color: #FFF;
	position: relative
} /*For Left News Panel Updates*/
#rightpnl {
	height: auto;
	padding: 5px;
}

#homepagebg {
	background: url(../themes/blue/new_homeimage.jpg) top left no-repeat
		#024C93;
	border: solid 1px #011939;
	border-top: none;
	height: 155px;
	position: relative
}

#contentin {
	background: #FFFFFF;
	height: 100%;
	border-left: solid 1px #011939;
	border-right: solid 1px #011939
} /* div for content in Home page */
#footer {
	background: #024C93;
	font: normal 1em Arial;
	color: #fff;
	border-left: solid 1px #011939;
	border-right: solid 1px #011939;
}

#mainnav_home {
   border: 1px solid #011939;
    color: #4b3a0f;
    margin: -11px 0px;
    padding: 1px 7px;
    text-decoration: none;
    width: 13%;
}

#mainnav_logout{
   border: 1px solid #011939;
    color: #4b3a0f;
    margin: -8px 0;
    padding: 1px 7px;
    text-decoration: none;
    width: 4%;
}


#frmcontent {
	background: #FFF;
	padding: 5px 2px 2px 2px;
} /* div for form*/
/*<-------END DIV ID------ */

/*<-------Start Common Class------ */
.clear {
	clear: both
}

.txticon {
	width: 20px;
	padding-top: 2px
}

.scroltxt {
	margin-top: 21px;
	padding: 1px 3px 3px 3px;
	border-bottom: 4px solid #005789
} /* for marquee*/
.tbl_no_brdr {
	border-collapse: collapse;
}
	/*Used for removing "border="0" cellspacing="0" cellpadding="0"" from table*/
.tbl_with_brdr {
	border-collapse: separate;
	border-spacing: 1px;
	background: #dfdfdf
} /*Used for Giving Border in Table */
.collapse_menu {
	background: url(../themes/blue/collapse_menu.jpg) no-repeat;
	width: 15px;
	height: 62px;
	float: left
}

.pnlhd {
	font: bold 1em Arial, Helvetica, sans-serif;
	color: #FFF;
	background: #0084C2;
	border-top: 1px solid #011939;
	border-left: 1px solid #011939;
	border-right: 1px solid #011939;
	height: 15px;
	position: absolute;
	z-index: 2;
	text-align: center;
	top: 4px;
	left: 5px;
	padding: 0px 3px
}

.more {
	font: bold 1em Arial, Helvetica, sans-serif;
	color: #FFF;
	text-align: right;
	padding-right: 3px
}

.more a {
	color: #FFF;
	text-decoration: none
}

.help {
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #fff
}

.help a {
	color: #fff;
	text-decoration: none
}

.frmhd {
	font: bold 1.1em "Trebuchet MS";
	color: #1A2022;
	background: #E4E4E4;
	padding: 3px;
}

.frmpnlbrdr {
	padding: 5px 10px 0px 10px;
	border: 1px solid #E4E4E4
}

.frmpnlbg {
	background: #F7F7F7;
	padding: 10px;
	margin: 10px 20px 10px 20px
}

.frmhelp {
	font: bold 12px "Trebuchet MS";
	color: #8F451A;
	background: url(../themes/blue/helpfrm.png) no-repeat left;
	height: 15px;
	text-decoration: none;
	padding-left: 20px
}

.frmhelp a {
	color: #8F451A;
	text-decoration: none;
}

.frmtxt {
	font: normal 1em Arial, Helvetica, sans-serif;
	color: #1A2022;
	border: 1px solid #DCDCDC;
	position: relative;
	background: inherit;
	padding: 20px 10px 15px 10px;
}

.frmhdtitle {
	font: bold 1.1em "Trebuchet MS";
	color: #372600;
	background: #F7F7F7;
	position: absolute;
	z-index: 1;
	text-align: center;
	top: -9px;
	left: 12px;
	padding: 0px 3px
}

.blktxt {
	font: normal 1em Arial, Helvetica, sans-serif;
	color: #000
}

.errormsg {
	font: normal 1em Arial, Helvetica, sans-serif;
	color: #FF0000;
	height: 15px;
	padding-top: 3px
} /*Used for error message*/
.mndt {
	font: normal 1em Arial, Helvetica, sans-serif;
	color: #FF0000;
	padding-left: 1px
} /*Used for mandetory field (Star)*/
.error_fld {
	border: #F33 1px solid;
	background-color: #FFECF0;
} /*Used for Highlighting the error field*/
.success_msg {
	font: bold 1.1em "Trebuchet MS";
	color: #006600;
	padding: 5px;
} /*Used for successfull message*/
.result_msg {
	font: bold 1.1em "Trebuchet MS";
	color: #0000CC;
	padding: 5px;
} /*Used for result data message*/
.txtlink {
	font: normal 1em Arial, Helvetica, sans-serif;
	color: #5F3C00;
}

.txtlink a {
	color: #5F3C00;
	text-decoration: none
}

.npnlbg {
	background: #D8A820;
	height: 5px
}

.txtbold {
	font-weight: bold;
} /*Used for Strong Text*/
.btmlogospace {
	padding: 2px
}

.greybrdr {
	border: 1px solid #757575
}

.fotbrdr {
	border-top: solid 4px #CEE2FD
}
/*<-------End Common Class------ */

/*Start Pagination*/
.pageno {
	font: bold 12px "Trebuchet MS";
	color: #1A2022;
}

.pre a {
	font: bold 12px "Trebuchet MS";
	color: #1A2022;
	background: url(../themes/green/prvious.png) no-repeat;
	padding-left: 17px;
	padding-top: 0px;
	text-decoration: none
}

.nxt a {
	font: bold 12px "Trebuchet MS";
	color: #1A2022;
	background: url(../themes/green/next.png) no-repeat right top;
	padding-right: 18px;
	padding-top: 0px;
	text-decoration: none
}
/*End Pagination*/

/*----------Statrt Form Field Style----------*/
.themefield {
	border: 1px solid #A8A8A8;
	height: 18px;
	font: normal 1em Arial;
	color: #000;
	width: 110px
}

.combofield {
	border: 1px solid #A8A8A8;
	height: 18px;
	background: #FBF9F0;
	font: normal 1em Arial;
	color: #000;
} /*Used for Combo Box*/
.frmfield {
	border: 1px solid #A8A8A8;
	background: #FBF9F0;
	height: 18px;
	font: normal 1em Arial;
	color: #000;
} /*Used Normal Text field*/
.frmtxtarea {
	border: 1px solid #A8A8A8;
	background: #FBF9F0;
	font: normal 1em Arial;
	color: #000;
} /*Used for Text Area and Multiselection Field*/
.fldset {
	border: 1px solid #A8A8A8;
	font: normal 1em Arial;
	color: #000;
	padding: 15px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}

.btn {
	
}

.btnpnl {
	margin: 10px 20px 20px 20px;
	text-align: center
}
/*----------End Form Field Style----------*/

/*----------Start Collapse Pnl----------*/
.pnlsize {
	width: 230px;
	margin-left: 2px;
	display: block
}

.coltab {
	width: 15px;
	height: 65px;
	padding-top: 10px;
	display: none
}

.extab {
	width: 10px;
	padding-top: 10px;
	padding-left: 5px
}
/*----------End Collapse Pnl----------*/
/*----------Start Help Message Class----------*/
.helptext {
	font: .95em Arial, Helvetica, sans-serif;
	color: #0000FF;
	margin: 1px;
} /*Used for help text*/
.helpBox {
	border: 1px dotted #3C3B3B;
	width: 24%;
	height: auto;
	position: absolute;
	vertical-align: top;
	display: none;
} /*Creat Help Box*/
.helpheader {
	width: 100%;
	background-color: #2D2D2D;
	text-align: center;
	font-weight: bold;
	color: #FFF;
	margin: 1px;
} /*For Help Box Header Heading*/

/*All below Four (4) linse used for making place for display of Help Box Message*/
.contentTable {
	vertical-align: top;
}

.contentTable tr {
	height: 50px;
}

.contentTable td:nth-child(even) {
	border-left: #CCC 1px dotted;
}

.contentTable td:nth-child(odd) {
	
}
/*----------End Help Message Class----------*/
/* ---------------Accordian Menues----------------------- */
.arrowlistmenu {
	width: 225px;
	margin-top: 10px;
	margin-left: 2px;
	border-left: 1px solid #000D4A;
	border-right: 1px solid #000D4A;
	border-top: 1px solid #000D4A;
	background: #027DB6 /*width of accordion menu*/
}

.arrowlistmenu .menuheader {
	/*CSS class for menu headers in general (expanding or not!)*/
	background: url(../themes/blue/titlebar.png) #014E94 no-repeat left;
	/*font: bold 14px Arial;
color: white;
margin-bottom: 10px; /*bottom spacing between header and rest of content
text-transform: uppercase;
padding: 4px 0 4px 10px; header text is indented 10px*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	font-weight: bold;
	cursor: hand;
	cursor: pointer;
	width: 225px;
	color: #FFF;
	padding: 4px 0px 4px 10px;
	margin: 0px 0px;
	border-bottom: 1px solid #000D4A;
	width: 215px;
}

.arrowlistmenu .openheader {
	/*CSS class to apply to expandable header when it's expanded*/
	background-image: url(../themes/blue/titlebar-active.png);
}

.arrowlistmenu ul { /*CSS for UL of each sub menu*/
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-bottom: 0px;
	/*bottom spacing between each UL and rest of content*/
}

.arrowlistmenu ul li {
	padding-bottom: 0px; /*bottom spacing between menu items*/
}

.arrowlistmenu ul li .opensubheader {
	/*Open state CSS for sub menu header*/
	background: lightblue !important;
}

.arrowlistmenu ul li .closedsubheader {
	/*Closed state CSS for sub menu header*/
	background: lightgreen !important;
}

.arrowlistmenu ul li a {
	color: #FFF;
	background: url(../themes/blue/arrowbullet.gif) no-repeat 3% 50%;
	/*custom bullet list image*/
	display: block;
	padding: 3px 0;
	padding-left: 12px; /*link text is indented 19px*/
	text-decoration: none;
	border-bottom: 1px solid #000D4A;
	font-size: 1em;
}

.arrowlistmenu ul li a:visited {
	color: #FFF;
}

.arrowlistmenu ul li a:hover { /*hover state CSS*/
	/*background-color: #333333;*/
	color: #FFF;
	background: url(../themes/blue/arrowbulletH.gif) no-repeat 3% 50%;
}

.arrowlistmenu ul li a.subexpandable:hover {
	/*hover state CSS for sub menu header*/
	background: lightblue;
}

.myclass {
	text-align: center;
	background-color: #00629B;
	padding: 2px;
	border-bottom: 1px solid white;
	color: #fff;
} /* Used for thired lebel of menu*/
/* ---------------Accordian Menues ends here----------------------- */
/*<-------Start Dashboard Tab----*/
#tab_panel {
	padding: 0;
	border-bottom: 1px #fff solid;
}

#tab_panel ul {
	padding: 0px;
	margin: 0px;
}

#tab_panel li {
	padding: 0;
	margin: 0 1px -1px 0;
	list-style: none;
	float: left;
}

#tab_panel a {
	display: block;
	background: #F7F7F7;
	-moz-border-radius: 5px 5px 0 0; /* Firefox */
	-webkit-border-radius: 5px 5px 0 0; /* Safari, Chrome */
	-khtml-border-radius: 5px 5px 0 0; /* KHTML */
	border-radius: 5px 5px 0 0; /* CSS3 */
	/* behavior:url(ie-css3.htc); */
	border: 1px #757575 solid;
	border-bottom: 0px;
	padding: 4px 10px;
	text-decoration: none;
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #1F1702;
	text-transform: none;
	margin-top: 3px;
}

#tab_panel a:hover,#tab_panel a.current {
	color: #00003C;
	background: #E4E4E4;
	margin-top: 0px;
	padding-top: 7px;
	border: 1px #757575 solid;
	border-bottom: 0px;
}
/*<-------End Dashboard Tab----*/
/*<-------Font Resizer Start---*/
.resize {
	color: #3A3A3A;
}

.smallview .resize { /*CSS for "small font" setting*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.normalview .resize {
	/*CSS to return page to default setting (with no additional CSS rules added)*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px
}

.largeview .resize { /*CSS for "large font" setting*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

a.texttoggler { /*CSS for Text Size Toggler control*/
	margin-right: 10px;
}

a.texttoggler img { /*CSS for Text Size Toggler control*/
	border: 1px solid gray;
}

a.texttoggler img:hover { /*CSS for Text Size Toggler control*/
	border: 1px solid red;
}

a.selectedtoggler img { /*CSS for Selected Text Size Toggler control*/
	border: 1px solid red;
}
/*<-------Font Resizer End---*/
/*<-------New CSS For Homepage------->*/
#new_header {
	background: url(../themes/blue/home_style.png) top right no-repeat
		#FFFFFF;
	height: 90px;
	border: solid 1px #011939;
	position: relative
}

#new_homelogin {
	width: 300px;
	float: right;
	margin-right: 20px;
	padding: 20px 0px 10px 0px;
	font: bold 1em Arial, Helvetica, sans-serif;
	color: #fff
}

.new_btn {
	background: url(../themes/blue/btn_bg.jpg) repeat-x #E0E6EA;
	border: solid 1px #000D19;
	font: bold 1em Arial, Helvetica, sans-serif;
	color: #000D19;
} /*Used in loginpage*/
.new_wtlink a {
	font: normal 1em Arial, Helvetica, sans-serif;
	color: #fff;
	text-decoration: none
}

.new_wtlink a:hover {
	font: normal 1em Arial, Helvetica, sans-serif;
	color: #fff;
	text-decoration: underline
}

.new_pnlstyl {
	background: url(../themes/blue/pnlbg.jpg) bottom left repeat-x #FBFDFE;
	border: solid 1px #011939;
	font: normal 1em Arial, Helvetica, sans-serif;
	color: #0B1720;
	margin-bottom: 15px
}

.new_pnlbghd {
	background: url(../themes/blue/new_pnlbghd.jpg) top left repeat-x;
	padding: 5px
}

.new_pnlctzn {
	background: url(../themes/blue/citizen.png) no-repeat;
	font: bold 1em Arial, Helvetica, sans-serif;
	color: #000D19;
	padding: 5px 0px 5px 25px;
	margin-bottom: 10px
}

.new_listmenu {
	margin-bottom: 5px;
}

.new_listmenu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.new_listmenu ul li a {
	color: #000C14;
	background: url(../themes/blue/arrowbullet.gif) no-repeat 3% 50%;
	display: block;
	padding: 3px 0;
	padding-left: 14px;
	text-decoration: none;
	font-size: 1em;
}

.new_listmenu ul li a:visited {
	color: #000C14;
}

.new_listmenu ul li a:hover {
	color: #000C14;
	background: url(../themes/blue/arrowbulletH.gif) no-repeat 3% 50%;
	text-decoration: underline
}

.new_more {
	font: normal 1em Arial, Helvetica, sans-serif;
	color: #024C93;
	text-align: right;
	padding: 5px
}

.new_more a {
	color: #024C93;
	text-decoration: none
}

.new_pnlsprtdoc {
	background: url(../themes/blue/support_doc.png) no-repeat;
	font: bold 1em Arial, Helvetica, sans-serif;
	color: #000D19;
	padding: 5px 0px 5px 25px;
	margin-bottom: 10px
}

.new_supdoc ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-bottom: 10px
}

.new_supdoc ul li {
	color: #4E5459;
	background: url(../themes/blue/pnlbullet.gif) no-repeat 3% 50%;
	display: block;
	padding: 3px 0;
	padding-left: 20px;
	text-decoration: none;
	font-size: 1em;
}

.new_pnlabout {
	background: url(../themes/blue/about.png) no-repeat;
	font: bold 1em Arial, Helvetica, sans-serif;
	color: #000D19;
	padding: 5px 0px 5px 35px;
	margin-bottom: 10px
}

.new_tblcntent {
	padding: 0px 10px
}

.new_pnlparatxt {
	font: normal 1em Arial, Helvetica, sans-serif;
	color: #00101C;
	padding: 5px;
	margin-bottom: 10px;
	text-align: justify
}

.new_pnlfaq {
	background: url(../themes/blue/faq.png) no-repeat;
	font: bold 1em Arial, Helvetica, sans-serif;
	color: #000D19;
	padding: 5px 0px 5px 35px;
	margin-bottom: 10px
}

.new_listfaq {
	margin-bottom: 10px;
}

.new_listfaq ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.new_listfaq ul li a {
	color: #000C14;
	background: url(../themes/blue/new_fqarrowbullet.gif) no-repeat 1% top;
	display: block;
	padding: 0px 0px 3px 0;
	padding-left: 20px;
	text-decoration: none;
	font-size: 1em;
}

.new_listfaq ul li a:visited {
	color: #000C14;
}

.new_listfaq ul li a:hover {
	color: #000C14;
	background: url(../themes/blue/fqarrowbulletH.gif) no-repeat 1% top;
	text-decoration: underline
}

.new_pnlannonce {
	background: url(../themes/blue/announce.png) no-repeat;
	font: bold 1em Arial, Helvetica, sans-serif;
	color: #000D19;
	padding: 5px 0px 5px 25px;
}

.new_pnlcommbg {
	background: url(../themes/blue/compnlbg.jpg) top left repeat-x;
	border-top: solid 1px #011939;
	border-bottom: solid 1px #011939;
	margin-bottom: 5px;
}

.new_pnlcmnhd {
	background: url(../themes/blue/comarrow.png) no-repeat;
	font: bold 1em Arial, Helvetica, sans-serif;
	color: #000D19;
	padding: 3px 0px 3px 25px;
}
/*------For LGD Home Bullet -------*/
.listhome {
	margin-bottom: 10px;
}

.listhome ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.listhome ul li {
	color: #000C14;
	background: url(../themes/blue/new_fqarrowbullet.gif) no-repeat 2% top;
	display: block;
	padding: 0px 0px 3px 0;
	padding-left: 30px;
	text-decoration: none;
	font-size: 1em;
}